@page "/add"
@page "/edit/{Id:guid}"
@rendermode InteractiveServer
@using Blazor_Training.Domain
@inject Blazor_Training.Application.EmployeeService Service
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations

<nav class="navbar">
	<div class="logo">PayRoll System</div>
	<div class="nav-links">
		<NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
		<NavLink href="About">About</NavLink>
	</div>
</nav>
<div class="main-layout">
	<button class="sidebarToggle" @onclick="() => sidebarVisible = !sidebarVisible">☰</button>
	<nav class="@(sidebarVisible ? "sidebar" : "sidebar collapse")">
		<NavLink class="btn btn-blue" href="add">➕Add Employee</NavLink>
		<NavLink class="btn btn-blue" href="employees">📃View Employees</NavLink>
		<NavLink class="btn btn-blue" href="overtime">Overtime Section</NavLink>
		<NavLink class="btn btn-blue" href="pension">Pension Section</NavLink>
	</nav>

	<div class="InputForm">
		<h1>New Employee</h1>
		<EditForm Model="newEmployee" OnValidSubmit="SaveEmployee">
			<DataAnnotationsValidator />
			<ValidationSummary />
		<div>
			<label>Name</label><br />
			<InputText placeholder="Enter Worker name" @bind-Value="newEmployee.Name" class="form-control"/>
		</div>
		<div>
			<label>Rate of Pay per Hour</label><br />
			<InputNumber placeholder="Enter Worker payrate" @bind-Value ="newEmployee.hourlyPay" class="form-control" />
		</div>
		<div>
			<label>Number of Hours Worked</label><br />
			<InputNumber placeholder="Enter Worked Hours" @bind-Value="newEmployee.hoursWorked" class="form-control"/>
		</div>
		<button class="btn btn-blue" >Submit</button>
		<button class="btn btn-red" @onclick="Cancel">Cancel</button>
		</EditForm>
	</div>
</div>

@code
{
	bool sidebarVisible = true;
	[Parameter]
	public Guid Id { get; set; }
	Employee newEmployee = new Employee();
	protected override void OnInitialized()
	{
		if (Id != Guid.Empty)
		{
			var foundEmployee = Service.GetEmployee(Id);

			newEmployee = foundEmployee;
		}
	}
	void SaveEmployee()
	{
		if (Id == Guid.Empty)
		{
			Service.AddEmployee(newEmployee);
		}
		else
		{
			Service.UpdateEmployee(newEmployee);
		}
		NavManager.NavigateTo("/employees");
	}

	void Cancel()
	{
		NavManager.NavigateTo("/employees");
	}
}