@page "/add"
@page "/edit/{Id:guid}"
@rendermode InteractiveServer
@using Blazor_Training.Data
@inject Blazor_Training.Data.WorkerService Service
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations

<nav class="navbar">
	<div class="logo">PayRoll System</div>
	<div class="nav-links">
		<NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
		<NavLink href="About">About</NavLink>
	</div>
</nav>
<div class="main-layout">
	<button class="sidebarToggle" @onclick="() => sidebarVisible = !sidebarVisible">☰</button>
	<nav class="@(sidebarVisible ? "sidebar" : "sidebar collapse")">
		<NavLink class="btn btn-blue" href="add">➕Add Worker</NavLink>
		<NavLink class="btn btn-blue" href="workers">📃View Workers</NavLink>
		<NavLink class="btn btn-blue" href="overtime">Overtime Section</NavLink>
	</nav>

	<div class="InputForm">
		<h1>New Worker</h1>
		<EditForm Model="newWorker" OnValidSubmit="SaveWorker">
			<DataAnnotationsValidator />
			<ValidationSummary />
		<div>
			<label>Name</label><br />
			<InputText placeholder="Enter Worker name" @bind-Value="newWorker.Name" class="form-control"/>
		</div>
		<div>
			<label>Rate of Pay per Hour</label><br />
			<InputNumber placeholder="Enter Worker payrate" @bind-Value ="newWorker.hourlyPay" class="form-control" />
		</div>
		<div>
			<label>Number of Hours Worked</label><br />
			<InputNumber placeholder="Enter Worked Hours" @bind-Value="newWorker.hoursWorked" class="form-control"/>
		</div>
		<button class="btn btn-blue" >Submit</button>
		<button class="btn btn-red" @onclick="Cancel">Cancel</button>
		</EditForm>
	</div>
</div>

@code
{
	bool sidebarVisible = true;
	[Parameter]
	public Guid Id { get; set; }
	Worker newWorker = new Worker();
	protected override void OnInitialized()
	{
		if (Id != Guid.Empty)
		{
			var foundWorker = Service.GetWorker(Id);

			newWorker = foundWorker;
		}
	}
	void SaveWorker()
	{
		if (Id == Guid.Empty)
		{
			Service.AddWorker(newWorker);
		}
		else
		{
			Service.UpdateWorker(newWorker);
		}
		NavManager.NavigateTo("/workers");
	}

	void Cancel()
	{
		NavManager.NavigateTo("/workers");
	}
}